// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#waldo-pic {
  background-image: url('ww.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 80vw;
  cursor: crosshair;
  position: relative;
  margin: 0;
}

.tag {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 5px solid green;
  padding: 0;
  margin: 0;
  transition: all 1s ease;
  position: absolute;
}
